@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

header {
    height: 110px;
    margin: 0px;
    background-color: rgba(88, 196, 84, 0.541);
    color: white;
    text-align: center;
}

nav {
    text-align: left;
}

a {
    color: green;

}

